@import "variables.scss";

nav {
    display: flex;
    background-color: $light-primary;
    justify-content: space-around;
}

.dropdown-menu {
 --bs-dropdown-bg: none;
 --bs-dropdown-border-color: none;
 text-align: center;
 transition-delay: 3s;
}