@import "variables.scss";

nav {
    display: flex;
    background-color: $light-primary;
    justify-content: space-around;
}

.navbar-toggler {
    background-color: $light;
}

.collapse {
    display: flex;
    justify-content: flex-end;
}

.dropdown-menu {
 --bs-dropdown-bg: none;
 --bs-dropdown-border-color: none;
 transition-delay: 3s;
}
