@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

$primary: #090979;
$dark-primary: #020024;
$light-primary: #C4DADE;

$secondary: #FF0760;
$dark-secondary: #472431;
$light-secondary: #EE9CBA;

$dark: #171717;
$light: #F5F5F5;

$titleFont:'Mouse Memoirs', sans-serif;
$textFont:'Montserrat', sans-serif;

$font-size-base: 1.25rem;
$h1-font-size: 4rem;
$h2-font-size: 3rem;
$h3-font-size: 2.5rem;