@import "variables.scss";

.bloc {
    height: 100vh;
    background-image: url(../images/fond-ecran.jpg);
    background-size: cover;
    animation-name: back;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes back {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.types {
    display: flex;
    align-items: center;
    justify-content: center;
}

.type {
    margin: 1rem;
    padding: 0.5rem;
    color: $light-primary;
    border:2px solid $light-primary;
    border-radius: 50px;
    background: none;
    cursor: pointer;
    transition: 0.4s;
}

.type:hover {
    color: $secondary;
    border: 2px solid $secondary;
    filter:saturate(10);
    
}

.card {
    justify-content: center;
    backdrop-filter: blur(1rem);
    box-shadow: 1rem 1rem 1rem rgba(64, 64, 64, 0.5);
}

.card:hover {
    mix-blend-mode: difference;
    filter:saturate(3);
    transition: 0.5s;
}

.cb1 {
    background-color: rgba(64, 64, 64, 0.1);
}