@import "variables.scss";

.bloc {
    height: 100vh;
    background-image: url(../images/fond-ecran.jpg);
    background-size: cover;
    animation: back 10s ease-in-out infinite;
}

@keyframes back {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.types {
    display: flex;
    align-items: center;
    justify-content: center;
}

.type {
    margin: 1rem;
    padding: 0.5rem;
    color: $light-primary;
    border: 2px solid $light-primary;
    border-radius: 50px;
    background: none;
    transition: 0.4s;
}

.type:hover {
    color: $secondary;
    border: 2px solid $secondary;
    filter: saturate(10);
}

.color {
    display: inline-block;
    width: 30px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 1px solid $light;
}

.card {
    justify-content: center;
    backdrop-filter: blur(1rem);
    box-shadow: 1rem 1rem 1rem rgba(64, 64, 64, 0.5);
}

.card:hover {
    mix-blend-mode: difference;
    filter: saturate(3);
    transition: 0.5s;
}

.cb1 {
    background-color: rgba(64, 64, 64, 0.1);
}
